@{
    ViewBag.Title = "Home Page";
}
<style>
    body {
        height: 100%;
        margin: 0;
        /* The image used */
        background: url(../../City_Landscape_Background.jpg);
        background-color: #87ceeb;
        opacity: 0.9;
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
    }
    .jumbotron {
        background-color: #87ceeb;
        opacity:0.8;
    }
    input[type=submit], input[type=text] {
        background-color: white;
    }
    input[type=submit]{
        color: black;
    }
</style>
<div class="jumbotron">
    <h1>Welcome to ServiceBasket! </h1>
    <p class="lead">You can find several types of services, and their rates given by users here. How can we help you?</p>
    <p><form action="@Url.Action("Search", "Service", new { search = ViewData["search"] })"><input type="text" name="search" value="@ViewData["search"]" size="350" placeholder="Search any service.." />&emsp; <input type="submit" class="btn btn-primary btn-lg" value="Search &raquo;" /></form></p>
</div>

<div class="row">
    <h1>Some Services</h1>
    <div class="col-md-4">
        @{var a = Model[new Random().Next(Model.Count)];
        <h2>@a.Title</h2>
        <p>
            @a.Description
        </p>
        <input type="button" class="btn btn-default" value="Details &raquo;" onclick="location.href='@Url.Action("ServiceDetail", "Service", new { title = a.Title })'" />
        }
    </div>
    <div class="col-md-4">
        @{var b = Model[new Random().Next(Model.Count)];
        <h2>@b.Title</h2>
        <p>
            @b.Description
        </p>
        <input type="button" class="btn btn-default" value="Details &raquo;" onclick="location.href='@Url.Action("ServiceDetail", "Service", new { title = b.Title })'" />
        }
    </div>
        <div class="col-md-4">
            @{var c = Model[new Random().Next(Model.Count)];
        <h2>@c.Title</h2>
        <p>
            @c.Description
        </p>
        <input type="button" class="btn btn-default" value="Details &raquo;" onclick="location.href='@Url.Action("ServiceDetail", "Service", new { title = c.Title })'" />
            }
        </div>
  
    </div>

    <div class="row">
        <div class="col-md-4">
            @{var d = Model[new Random().Next(Model.Count)];
            <h2>@d.Title</h2>
            <p>
                @d.Description
            </p>
            <input type="button" class="btn btn-default" value="Details &raquo;" onclick="location.href='@Url.Action("ServiceDetail", "Service", new { title = d.Title })'" />
            }
        </div>
        <div class="col-md-4">
            @{var e = Model[new Random().Next(Model.Count)];
            <h2>@e.Title</h2>
            <p>
                @e.Description
            </p>
            <input type="button" class="btn btn-default" value="Details &raquo;" onclick="location.href='@Url.Action("ServiceDetail", "Service", new { title = e.Title })'" />
            }
            </div>
            <div class="col-md-4">
                @{var f = Model[new Random().Next(Model.Count)];
                <h2>@f.Title</h2>
                <p>
                    @f.Description
                </p>
                <input type="button" class="btn btn-default" value="Details &raquo;" onclick="location.href='@Url.Action("ServiceDetail", "Service", new { title = f.Title })'" />
                }
            </div>
        </div>
