
@{
    ViewBag.Title = "Profile";
}

<h1>Welcome @Model.UserId</h1>

<h2>Here are your profile information</h2>

<p>UserId: @Model.UserId</p>

<p>Name: @Model.Name</p> 


<p>Email: @Model.Email</p>

<p>Status:@if (Model.IsActive) { <b>Active</b> } else {<b>Inactive</b>}</p>

<p>@Html.ActionLink("Edit profile", "EditProfile", "Authentication")</p>
