
@{
    ViewBag.Title = "ServiceDetail";
}
@model ServiceBasket.Models.Entity.Service

<h2> @Model.Title </h2>

<p>Service provider is @Model.Owner.Name and this is the discription of his service:</p>
<p>@Model.Description</p>


<br />


<ul>


    @foreach (var item in Model.Comments)
    {
        <li><h1>@item.Title</h1><br />
    <p>@item.Content</p></li>
    }
    </ul>
