
@{
    ViewBag.Title = "ServiceDetail";

}
@using ServiceBasket.Models.Entity;

@model Tuple<Service, Comment>

<h1> @Model.Item1.Title</h1>
<h3>@Model.Item1.Category</h3>

<p>Here is @Model.Item1.Owner.Name's service for you:</p>
<p>@Model.Item1.Description</p>


<br />
<br />
<br />



<p>Total @Model.Item1.Comments.Count comment on this service</p>
<ul style="list-style-type:none">

    
    @foreach (var item in Model.Item1.Comments)
    {
        <li>
            <h1>@item.Title</h1>
            <p>@item.Content</p>
        </li>
    }
</ul>
<div class="form">
    <form method="post" action="@Url.Action("AddComment", "Service", new {sTitle = Model.Item1.Title})">
        <label>
            Title:
            <input type="text" name="Title" value="@Model.Item2.Title" required />
        </label>
        <br />
        <label>
            Comment:<br />
            <textarea name="Content" cols="40" rows="5" required>@Model.Item2.Content</textarea>
        </label>
        <br />
        <input type="submit" name="send" value="AddComment" />
    </form>
    <p>@TempData["commentAdded"] </p>
</div>