
@{
    ViewBag.Title = "ServiceDetail";

}
@using ServiceBasket.Models.Entity;

@model Tuple <Service,Comment>

<h2> @Model.Item1.Title</h2>

<p>Service provider is @Model.Item1.Owner.Name and this is the discription of his service:</p>
<p>@Model.Item1.Description</p>


<br />

<form method="post" action="~/Service/AddComment">
    <label>
        Title:
        <input type="text" name="Title" value="@Model.Item2.Title" required />
    </label>
    <br />
    <label>
        Comment:<br />
                <textarea name="Content" cols="40" rows="5" required>@Model.Item2.Content</textarea>
    </label>
    <br />
    <input type="submit" name="send" value="AddComment" />
</form>


<ul>

    @Model.Item1.Comments.Count
    @foreach (var item in Model.Item1.Comments)
    {
        <li>
            <h1>@item.Title</h1><br />
            <p>@item.Content</p>
        </li>
    }
</ul>
