
@{
    ViewBag.Title = "ServiceDetail";
}
@model ServiceBasket.Models.ViewModels.ServiceDetailViewModel

<h2> @Model.Serv. </h2>

<p>@Model.Description</p>
<p>@Model.Owner.Name</p>

<br />

<form method="post" action="~/Service/AddComment">
    <label>
        Title:
        <input type="text" name="Title" value="@Model.Title" required />
    </label>
    <br />
    <label>
        Comment:<br />
        <textarea name="Content" cols="40" rows="5" required>@Model.Content</textarea>
    </label>
    <br />
    <input type="submit" name="send" value="AddComment" />
</form>


<ul>


    @foreach (var item in Model.Serv.Comme)
    {
        <li><h1>@item.Title</h1><br />
    <p>@item.Content</p></li>
    }
    </ul>
