<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ServiceBasket</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            height: 100%;
            margin: 0;
            /* The image used */
            background: url(City_Landscape_Background.jpg);
            background-color: #87ceeb;
            opacity: 0.9;
            /* Full height */
            height: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            color: white;
        }
        table, th, td {
            border: 2px solid black;
            text-align: left;
            color:black;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th {
            background-color: #6495ED;
            color: white;
            height: 70px;
        }

        th, td {
            padding: 15px;
        }
        tr:hover {
            background-color: #B0E0E6;
        }
        input[type=text], input[type=password] {
            padding: 12px 20px;
            margin: 4px 0;
            display: inline-block;
            box-sizing: border-box;
            background-color: #87ceeb;
            color: white;
            border: 1px solid black;
            border-radius: 4px;
            width: 100%;
        }

        input[type=submit], input[type=reset] {
            width: 15%;
            background-color: #87ceeb;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

            input[type=submit]:hover, input[type=reset]:hover {
                background-color: #6495ED;
            }
        input[type=text]:focus, input[type=password]:focus {
            background-color: #6495ED;
        }

        .form {
            text-align: center;
            border-radius: 10px;
            background-color: white;
            padding: 20px;
            color:black;
        }
        select {
            width: 75%;
            padding: 16px 20px;
            border: none;
            border-radius: 4px;
            background-color: #87ceeb;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Service Basket", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if (Session["LoggedIn"] == null || Session["LoggedIn"].Equals(false))
                    {
                        <li>@Html.ActionLink("Login", "Login", "Authentication")</li>
                        <li>@Html.ActionLink("SignUp", "Signup", "Authentication")</li>
                    }
                    else if (Session["LoggedIn"].Equals(true))
                    {
                        if (Session["IsAdmin"].Equals(true))
                        {
                            <li>@Html.ActionLink(Session["userId"].ToString() + " Profile", "Profile", "Authentication")</li>
                            <li>@Html.ActionLink("Log Out", "Logout", "Authentication")</li>
                            <li>@Html.ActionLink("Add Service", "AddService", "Service")</li>
                            <li>@Html.ActionLink("Services", "ServiceList", "Service")</li>
                        }
                        else if (Session["IsProvider"].Equals(true))
                        {
                            <li>@Html.ActionLink(Session["userId"].ToString() + " Profile", "Profile", "Authentication")</li>
                            <li>@Html.ActionLink("Log Out", "Logout", "Authentication")</li>
                            <li>@Html.ActionLink("Add Service", "AddService", "Service")</li>
                            <li>@Html.ActionLink("Services", "ServiceList", "Service")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink(Session["userId"].ToString() + " Profile", "Profile", "Authentication")</li>
                            <li>@Html.ActionLink("Log Out", "Logout", "Authentication")</li>                        
                            <li>@Html.ActionLink("Services", "ServiceList", "Service")</li>
                        }
                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>@DateTime.Now.Year - ServiceBasket. Bros Company &copy; All rights reserved </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
