<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ServiceBasket</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            height: 100%;
            margin: 0;
            /* The image used */
            background: url(City_Landscape_Background.jpg);
            background-color: #87ceeb;
            opacity: 0.9;
            /* Full height */
            height: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Service Basket", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if (Session["LoggedIn"] == null || Session["LoggedIn"].Equals(false))
                    {
                        <li>@Html.ActionLink("Login", "Login", "Authentication")</li>
                        <li>@Html.ActionLink("SignUp", "Signup", "Authentication")</li>
                    }
                    else if (Session["LoggedIn"].Equals(true))
                    {
                        if (Session["IsAdmin"].Equals(true))
                        {
                            <li>@Html.ActionLink(Session["userId"].ToString() + " Profile", "Profile", "Authentication")</li>
                            <li>@Html.ActionLink("Log Out", "Logout", "Authentication")</li>
                            <li>@Html.ActionLink("Add Service", "AddService", "Service")</li>
                            <li>@Html.ActionLink("Services", "ServiceList", "Service")</li>
                        }
                        else if (Session["IsProvider"].Equals(true))
                        {
                            <li>@Html.ActionLink(Session["userId"].ToString() + " Profile", "Profile", "Authentication")</li>
                            <li>@Html.ActionLink("Log Out", "Logout", "Authentication")</li>
                            <li>@Html.ActionLink("Add Service", "AddService", "Service")</li>
                            <li>@Html.ActionLink("Services", "ServiceList", "Service")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink(Session["userId"].ToString() + " Profile", "Profile", "Authentication")</li>
                            <li>@Html.ActionLink("Log Out", "Logout", "Authentication")</li>                        
                            <li>@Html.ActionLink("Services", "ServiceList", "Service")</li>
                        }
                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>@DateTime.Now.Year - ServiceBasket. Bros Company &copy; All rights reserved </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
